// Import variables và mixins
@import '../../styles/variables';
@import '../../styles/mixins';

.team-item {
    @include box-shadow(0 0 45px rgba(0, 0, 0, 0.08)); // sử dụng mixin box-shadow
    height: calc(100% - 38px);
    @include transition(all, 0.5s); // sử dụng mixin transition

    img {
        @include transition(all, 0.5s); // sử dụng mixin transition
    }

    &:hover {
        height: 100%;

        img {
            transform: scale(1.1);
        }
    }

    .btn {
        @include border-radius(38px 38px 0 0); // sử dụng mixin border-radius
    }
}