// Import variables và mixins
@import '../../styles/variables';
@import '../../styles/mixins';

.hero-header {
    // Sử dụng mixin gradient-bg và biến từ _variables.scss
    @include gradient-bg(url('../../assets/images/bg-hero.jpg'), 0.9, 0.9);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    img {
        animation: imgRotate 50s linear infinite;
    }
}