// src/styles/_global.scss
@import 'variables';
// Font classes
.ff-secondary {
    font-family: $ff-secondary;
}

.fw-medium {
    font-weight: $fw-medium !important;
}

.fw-semi-bold {
    font-weight: $fw-semi-bold !important;
}

// Back to Top Button
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

// Buttons
.btn {
    font-family: $headings-font-family;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: $border-radius;
}

// Section Titles
.section-title {
    position: relative;
    display: inline-block;

    &::before {
        position: absolute;
        content: "";
        width: 45px;
        height: 2px;
        top: 50%;
        left: -55px;
        margin-top: -1px;
        background: $primary;
    }

    &::after {
        position: absolute;
        content: "";
        width: 45px;
        height: 2px;
        top: 50%;
        right: -55px;
        margin-top: -1px;
        background: $primary;
    }

    &.text-start::before,
    &.text-end::after {
        display: none;
    }
}

// Breadcrumb styling
.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}

// Video Modal
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../assets/images/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .btn-play {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-sizing: content-box;
        display: block;
        width: 32px;
        height: 44px;
        border-radius: 50%;
        border: none;
        outline: none;
        padding: 18px 20px 18px 28px;

        &:before {
            content: "";
            position: absolute;
            z-index: 0;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 100px;
            height: 100px;
            background: $primary;
            border-radius: 50%;
            animation: pulse-border 1500ms ease-out infinite;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 100px;
            height: 100px;
            background: $primary;
            border-radius: 50%;
            transition: all 200ms;
        }

        span {
            display: block;
            position: relative;
            z-index: 3;
            width: 0;
            height: 0;
            border-left: 32px solid $dark;
            border-top: 22px solid transparent;
            border-bottom: 22px solid transparent;
        }
    }
}

#videoModal {
    z-index: 99999;

    .modal-dialog {
        position: relative;
        max-width: 800px;
        margin: 60px auto 0 auto;
    }

    .modal-body {
        position: relative;
        padding: 0px;
    }

    .close {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 0px;
        top: -30px;
        z-index: 999;
        font-size: 30px;
        font-weight: normal;
        color: #FFFFFF;
        background: #000000;
        opacity: 1;
    }
}

// Animations
@keyframes imgRotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}