// Import variables và mixins
@import '../../styles/variables';
@import '../../styles/mixins';

.testimonial-carousel {
    .owl-item {
        &.center {
            .testimonial-item {
                background: $primary !important; // thay var(--primary) bằng biến $primary
                border-color: $primary !important; // thay var(--primary) bằng biến $primary

                * {
                    color: $light !important; // thay var(--light) bằng biến $light
                    @include transition(all, 0.5s); // sử dụng mixin transition
                }
            }
        }
    }

    .owl-dots {
        margin-top: 24px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .owl-dot {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        width: 15px;
        height: 15px;
        border: 1px solid #CCCCCC;
        @include border-radius(15px); // sử dụng mixin border-radius
        @include transition(all, 0.5s); // sử dụng mixin transition

        &.active {
            background: $primary; // thay var(--primary) bằng biến $primary
            border-color: $primary; // thay var(--primary) bằng biến $primary
        }
    }
}